<div class="alertas-container">

  <!-- HEADER -->
  <div class="header">
    <h3>Alertas de Stock</h3>
    <span class="badge">{{ getCriticos() }} crítico</span>
  </div>

  <!-- LISTA -->
  <div class="lista">

    <div *ngFor="let a of alertas" class="alert-card">

      <div class="top">
        <div>
          <h4>{{ a.nombre }}</h4>
          <span class="status">Requiere reposición</span>
        </div>
        <span class="icon">⚠</span>
      </div>

      <div class="stock">
        <div>
          <small>Actual</small>
          <p class="rojo">{{ a.stockActual }}</p>
        </div>

        <div>
          <small>Mínimo</small>
          <p>{{ a.stockMinimo }}</p>
        </div>
      </div>

      <button (click)="onEntrada(a)">
        + Entrada
      </button>

    </div>

  </div>

  <!-- FOOTER -->
  <button class="ver-todo">
    Ver todas las alertas
  </button>

</div>